:root {
  --mdc-theme-primary: #9c27b0;
  --mdc-theme-secondary: #ffab40;
  --mdc-theme-background: #fff;
}

.mdc-select-width-class{
  width: 100%;
}

.app-fab--add-edge {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
@media (min-width: 1024px) {
  .app-fab--add-edge {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.app-fab--add-node {
  position: fixed;
  bottom: 1rem;
  right: 6rem;
}
@media (min-width: 1024px) {
  .app-fab--add-node {
    bottom: 1.5rem;
    right: 6.5rem;
  }
}

.app-fab--undo {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
}
@media (min-width: 1024px) {
  .app-fab--undo {
    bottom: 1.5rem;
    left: 1.5rem;
    opacity: 0;
  }
}

.app-fab-md--undo {
  position: fixed;
  bottom: 0px;
  left: 4vw;
  opacity: 0;
}
@media (min-width: 1024px) {
  .app-fab-md--undo {
    bottom: 0px;
    left: 4vw;
    opacity: 0;
  }
}

.app-fab-md--redo {
  position: fixed;
  bottom: 0px;
  left: calc(4vw + 64px);
  /* 需要注意的是，运算符前后都需要保留一个空格 */
  opacity: 0;
}
@media (min-width: 1024px) {
  .app-fab-md--redo {
    bottom: 0px;
    left: calc(4vw + 64px);
    opacity: 0;
  }
}

.app-fab-md--bold {
  position: fixed;
  bottom: 64px;
  left: calc(4vw);
  /* 需要注意的是，运算符前后都需要保留一个空格 */
  opacity: 0;
}
@media (min-width: 1024px) {
  .app-fab-md--bold {
    bottom: 64px;
    left: calc(4vw);
    opacity: 0;
  }
}

.app-fab-md--italic {
  position: fixed;
  bottom: 64px;
  left: calc(4vw + 64px);
  /* 需要注意的是，运算符前后都需要保留一个空格 */
  opacity: 0;
}
@media (min-width: 1024px) {
  .app-fab-md--italic{
    bottom: 64px;
    left: calc(4vw + 64px);
    opacity: 0;
  }
}